@import "variables";

input[type="checkbox"] {
  font-size: 1.6rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3em;
  height: 1.5em;
  background: #ddd;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &:not(:checked) {
    background: $primary-10;
  }

  &:active {
    outline-color: $primary-70;
  }

  &:focus {
    outline: 0.125rem solid;
    outline-color: $primary-60;
  }
}

input[type="checkbox"]:checked {
  background: $color-success;
}

input[type="checkbox"]:after {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked:after {
  left: calc(100% - 1.5em);
}
