@import "variables";


.form-field-wrapper {
  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    > span {
      margin-left: 0.5rem;
      font-size: 1rem;
      font-weight: 400;
      color: black;
    }
  }
}