input {
  width: 100%;
  height: fit-content;
  background-color: $gray-2;
  border: none;
  border-radius: 2rem;
  padding: $padding-md;
  box-sizing: border-box;
  color: shade(black, 30%);

  transition: outline-color 0.3s ease;

  &::placeholder {
    color: rgba(0,0,0, 0.5);
  }

  &:active {
    outline-color: black;
  }

  &:focus {
    outline: 0.125rem solid;
    outline-color: black;
  }

  // &:not(:placeholder-shown) {
  //   outline: 0.125rem solid;
  //   outline-color: $primary-60;
  // }

  &:invalid {
    outline: 0.125rem solid;
    outline-color: red;
  }

  &:disabled {
    background-color: $gray-1;
    cursor: not-allowed;
    &::placeholder {
      color: #a2a2a2;
    }
  }
}