
[data-tooltip] {
  position: relative;
}

[data-tooltip]:before,[data-tooltip]:after {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
  // display: block;
  // opacity: 1;
}

[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  max-width: 250px;
  overflow: hidden;
  padding: 14px 15px;
  border-radius: 16px;
  background: shade(black, 20%);
  color: tint(black, 85%);
  z-index: 99;
  text-align: start;
  overflow: clip;
}

[data-tooltip]:hover:before,[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}

[data-tooltip]:not([data-flow]):before,[data-tooltip][data-flow=top]:before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #292f31;
}

[data-tooltip]:not([data-flow]):after,[data-tooltip][data-flow=top]:after {
  bottom: calc(100% + 5px)
}

[data-tooltip]:not([data-flow]):before,[tooltip]:not([data-flow]):after,[data-tooltip][data-flow=top]:before,[data-tooltip][data-flow=top]:after {
  left: 50%;
  transform: translate(-50%,-4px);
  text-align: center
}

[data-tooltip][data-flow=bottom]:before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #292f31
}

[data-tooltip][data-flow=bottom]:after {
  top: calc(100% + 5px)
}

[data-tooltip][data-flow=bottom]:before,[data-tooltip][data-flow=bottom]:after {
  left: 50%;
  transform: translate(-50%,8px)
}

[data-tooltip][data-flow=left]:before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #292f31;
  left: calc(0em - 5px);
  transform: translate(-8px,-50%)
}

[data-tooltip][data-flow=left]:after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-8px,-50%)
}

[data-tooltip][data-flow=right]:before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #292f31;
  right: calc(0em - 5px);
  transform: translate(8px,-50%)
}

[data-tooltip][data-flow=right]:after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(8px,-50%)
}

[data-tooltip=""]:after,[data-tooltip=""]:before {
  display: none!important
}