$padding: 0.2rem;
$padding-sm: 0.4rem;
$padding-md: 0.8rem;
$padding-lg: 1rem; 


$margin: 0.2rem;
$margin-sm: 0.4rem;
$margin-md: 0.8rem;
$margin-lg: 1rem; 

$gap: 0.2rem;
$gap-sm: 0.4rem;
$gap-md: 0.8rem;
$gap-lg: 1rem; 

$gray: #eaeaea;
$gray-rgb: 234, 234, 234;
$gray-1: #d2d2d23b;
$gray-2: #d2d2d2;
$gray-3: #b0b0b0;

$primary: rgb(49, 49, 49);

$radius: 5px;
$radius-sm: 10px;

$success: green;
$danger: red;
$warn: orange;